.btn-view-category:hover{
    background:rgb(102, 213, 102) !important;
    
    transform: none !important;
    
    }

    .btn-roomtype-cancel:hover{

        background-color: #ffc107 !important;

    }